---
import Message from '@answeroverflow/ui/src/astro/primitives/Message/Message.astro';
import { MessageProps } from '@answeroverflow/ui/src/astro/primitives/Message/Props';
---

<div
	class="border-1 bg-gradient-to-br-light-glass dark:bg-gradient-to-br-dark-glass flex flex-col gap-10 rounded-lg border-[#C5C5C5] py-20 pl-16 pr-8 shadow-[0px_0px_111px_20px_rgba(57,_111,_248,_0.39)] backdrop-blur-md lg:shadow-[0px_0px_222px_41px_rgba(57,_111,_248,_0.39)] xl:py-10 2xl:py-12 dark:border-[#343434]"
>
	<div class="rounded-md bg-[#36393F]">
		<div class="border-b-1 border-black/50 px-5 py-2">
			<span class="text-white"
				>How do I index discord channels into google?</span
			>
		</div>
		<Message hidden={true} />
		<Message
			message={{
				attachments: [],
				id: '1',
				content:
					"I'm not sure, but I think you can use the Google Search Console to index your Discord channels.",
				author: {
					id: '1',
					name: 'John Doe',
					avatar: 'https://avatars.dicebear.com/api/avataaars/johndoe.svg',
				},
				serverId: '1',
				channelId: '1',
				childThreadId: null,
				embeds: [],
				isAnonymous: false,
				parentChannelId: null,
				public: true,
				questionId: null,
			}}
			hidden={false}
		/>
	</div>
</div>
